{% extends "base.html" %}

{% block content_base_body %}

    <script src="/static/javascript/book_desk.js">
    </script>
    <script>
        var csrf_token = "{{csrf_token}}";
    </script>
    <label for="first_day">Booking starts on</label>
    <input type="date" name="first_day" id="first_day" value="2022-05-28">
    <label for="last_day">Booking ends on</label>
    <input type="date" name="last_day" id="last_day" value="2022-05-28">
    <button id="search_desks">Search</button>

    <div id="page_content">

    </div>

{% endblock content_base_body %}